#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

